.register{
    max-width: 500px;
    border: 2px solid teal;
    border-radius: 5px;
    padding: 50px;
    margin: 50px auto;
    background-color: white;
}

.register h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555;
}

.register form input,
.register form button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 5px;
    outline: crimson;
    border: 1px solid teal;

    margin: 10px 0;
    background-color: white;
    box-shadow: 0 0 10px #aaa;
}

.register form .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register form button{
    width: 150px;
    background: black;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.register form a{
    color: black;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}